
header {
	background-color: orange;
}


h2 {
	color: white;
} 

/*ID Selectors*/
#rules {
	border-top: 2px solid lightblue;
	border-bottom: 2px solid lightblue;
}

#header-nav {
	background-color: orange;
}

/*Class Selectors*/
.head {
	text-align: center;
	color: white;
}

.align {
	text-align: center;
}

.padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

.bottom {
	padding-top: 60px;
	padding-bottom: 0px;
	border-bottom: solid 10px orange; 
}


/*pseudo selectors*/
a:link {
	color: orange; 
}

a:visited {
	color: lightblue;
}

a:hover {
	color: white;
	background-color: rgb(60,60,60);
}



.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

/*.navbar-fixed-top {
	position: fixed!important;
	float: right!important;
}*/
table {	
  border-collapse: collapse;
  width: 100%;
}

td, th {	
  text-align: left;
  padding: 8px;
}

