{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">    
    
  {% if title %}
    <title>Stock Game - {{ title }}</title>
  {% else %}
    <title> Stock Game </title>
  {% endif %} 

  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
           {{ message }}
          </div>
      {% endfor %}
    {% endif %}

    <header>
      <h1 class="head display-3">Welcome To Virtual Stock Market</h1><br>
    </header>
    <div id="rules" class="container">
      <h3>The rules of the game are as follows:</h3>
      <nav>
        <ol>
            <li>This game has 7 rounds. In each round you can buy or sell shares of different companies by clicking on their charts.</li>
            <li>Initially you are given with some amount of virtual currency.</li>
            <li>In each round you will be given <strong>one minute</strong> to buy or sell shares. After that page will refresh automatically.</li>
            <li>At the end of round 7 value of your shares will be added to left money and initially provided amount will be subtracted from that. Team with the highest amount will be the winner.</li>
            <li>Organisers reserve the rights to qualify or disqualify any team in any situation.</li>
        </ol>
      </nav>
    </div>

    {% block content %}{% endblock %}

    <footer class="bottom text-center">
      <p>&copy;2020 UDGAM, IITG</p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'login/chart.js' %}"></script>
  </body>
</html>	