{% extends "login/base.html" %}
{% block content %}
<div class="container">
	<h1 class="display-3 align">GAAP Cinemas</h1>
	<h4 class="align"><strong>Sector</strong>- Entertainment  </h4>	
	<h4 class="align"><strong>Category </strong>- Mid Cap</h4>	
	<p>GAAP Cinemas is a film entertainment public ltd company in India. The company began as a joint venture agreement between Riya Exhibitors Private Limited and Nexus Limited in 1998 with 60:40 ratio, began its commercial operations in June 1999.</p>
	<p> The first GAAP Gold Screen was introduced in Forum Mall, Bangalore.  The Company is engaged in the motion picture exhibition in cinemas. The Company has organized its operations into three business segments: Movie exhibition, Movie Production & Distribution, and Others. Its Others segment includes bowling, gaming and restaurant. The Company is also engaged in in-cinema advertisements/product displays and sale of food and beverages at cinema locations. The Company offers technologies, including 4DX Technology, which stimulates the senses with effects, such as seat motion, wind, rain, fog, lights and scents to match the audio and video in both two-dimensional (2D) and three-dimensional (3D); IMAX, which provides a viewing technology with optimized sound and projection system, and Playhouse, which is designed for kids. The Company operates a network of approximately 550 screens spread over 120 properties in approximately 50 cities across the country.</p>
	<p>FY 2017-18 was a historical year and all parts of the business delivered robust results led by strong box office performance. The content performance was strong with 13 movies crossing the 1 Billion collection which is a record performance. It was heartening to see movies across genres, small budget movies, and content focused movies leading the box office performance and delivering strong footfalls.</p>
	<p>Revenue growth was backed by double-digit growth in income from the sale of movie tickets 31%, sale of food and beverages 37% and advertisement income 19%. The same store growth in admits was 9% and same store growth of revenue from operations was 15.</p>
	<p>They continue to focus aggressively on enhancing our screen rollout and expect to open 80-100 screens in the current financial year.
	</p>
	<h4 class="align"><strong>Market cap </strong>- 96.73B</h4>
	<h4 class="align"><strong>P/E ratio </strong>- 54.17</h4>
	<h4 class="align"><strong>52-wk high </strong>- 1,924.00</h4>
	<h4 class="align"><strong>52-wk low </strong>- 1,345.25</h4>
	<h4 class="align"><strong>Industry PE </strong>- 18.19</h4>
	<h1 class="display-4 align">Financials (In crores)</h1>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">MAR 18</th>
	      <th scope="col">MAR 17</th>
	      <th scope="col">MAR 16</th>
	      <th scope="col">MAR 15</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">OPERATIONAL REVENUES</th>
	      <td>2,246.12</td>
	      <td>2,002.01</td>
	      <td>1,739.63</td>
	      <td>1,383.98</td>
	    </tr>
	    <tr>
	      <th scope="row">Other Income</th>
	      <td>29.53</td>
	      <td>60.18</td>
	      <td>26.15</td>
	      <td>5.23</td>
	    </tr>
	    <tr>
	      <th scope="row">TOTAL REVENUE</th>
	      <td>2,275.65</td>
	      <td>2,062.19</td>
	      <td>1,765.78</td>
	      <td>1,389.21</td>
	    </tr>
	    <tr>
	      <th scope="row">TOTAL EXPENSES</th>
	      <td>2,085.08</td>
	      <td>1,910.10</td>
	      <td>1,620.43</td>
	      <td>1,373.42</td>
	    </tr>
	    <tr>
	      <th scope="row">PROFIT/LOSS BEFORE TAX</th>
	      <td>189.98</td>
	      <td>147.14</td>
	      <td>139.17</td>
	      <td>13.62</td>
	    </tr>
	  </tbody>
	</table>
</div>	
{% endblock content %}