{% extends "login/base.html" %}
{% block content %}
<div class="container">
	<h1 class="display-3 align">Lifepoint Hospitals</h1>
	<h4 class="align"><strong>Sector</strong>- Healthcare </h4>	
	<h4 class="align"><strong>Category </strong>- Mid Cap</h4>	
	<p>
	India’s basic and limited healthcare infrastructure is starkly inadequate for meeting the demands of her large and diverse population. The unmet opportunity combined with strong fundamentals in the market, has led to the emergence of private healthcare service providers, giving a fillip to the country’s healthcare system.
	</p>
	<p>Private sector players occupy a major share of nearly 80% of the country’s total healthcare market. They also account for almost 74% of the country’s total healthcare expenditure. 
	</p>	
	<p>Lifepoint Hospitals, established in 1987 by has emerged as Asia's foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail health models.
	</p>			
	<p>It operates the largest chain of Hospitals and Pharmacies in India. Lifepoint has under its control around 10,000 beds across 70 Hospitals, 3,021 Pharmacies, around 500 retail healthcare centers including clinics, cradles etc. and over 148 telemedicine units across 13 countries, health insurance services, global projects consultancy, 15 academic institutions and a Research Foundation with a focus on global clinical trials, epidemiological studies, stem-cell and genetic research.</p>

	<p>The Group’s Healthcare framework operates with a mix of primary, secondary and tertiary care facilities including cardiac sciences, oncology, critical care, neurosciences, orthopedics, gastroenterology and transplants.The recently inaugurated Lifepoint Proton Cancer Centre in Chennai and the 180-bed Oncology hospital, will become fully operational over the next 18 months. It is important to note that currently, this treatment facility is only available in two countries in the Asia-Pacific region i.e. in China and Japan and India has become only the third country to offer this treatment protocol.</p>

	<p>Today, Lifepoint Munich has over 186 branches pan India with a 9.17% share in the health segment amongst the private players and 18.67% share in the health segment amongst standalone health insurers. 
	</p>
	<h4 class="align"><strong>Market cap </strong>- 207.52B</h4>
	<h4 class="align"><strong>P/E ratio </strong>- 62.2</h4>
	<h4 class="align"><strong>52-wk high </strong>- 1574</h4>
	<h4 class="align"><strong>52-wk low </strong>- 1083</h4>
	<h4 class="align"><strong>Industry PE </strong>- 66.69</h4>
	<h1 class="display-4 align">Financials (In crores)</h1>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">MAR 18</th>
	      <th scope="col">MAR 17</th>
	      <th scope="col">MAR 16</th>
	      <th scope="col">MAR 15</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">OPERATIONAL REVENUES</th>
	      <td>7,183.01</td>
	      <td>6,301.26</td>
	      <td>5,409.07</td>
	      <td>4,592.79</td>
	    </tr>
	    <tr>
	      <th scope="row">Other Income</th>
	      <td>12.59</td>
	      <td>25.89</td>
	      <td>68.89</td>
	      <td>45.27</td>
	    </tr>
	    <tr>
	      <th scope="row">TOTAL REVENUE</th>
	      <td>7,195.60</td>
	      <td>6,327.15</td>
	      <td>5,477.96</td>
	      <td>4,638.06</td>
	    </tr>
	    <tr>
	      <th scope="row">TOTAL EXPENSES</th>
	      <td>6,865.46</td>
	      <td>5,968.23</td>
	      <td>5,000.16</td>
	      <td>4,156.05</td>
	    </tr>
	    <tr>
	      <th scope="row">PROFIT/LOSS BEFORE TAX</th>
	      <td>330.14</td>
	      <td>358.92</td>
	      <td>452.13</td>
	      <td>467.33</td>
	    </tr>
	  </tbody>
	</table>
</div>		
{% endblock content %}
