{% extends "login/base.html" %}
{% block content %}
<div class="container">
	<h1 class="display-3 align">RIGHT Laboratories</h1>
	<h4 class="align"><strong>Sector</strong>- HealthCare</h4>	
	<h4 class="align"><strong>Category </strong>- Mid Cap</h4>	
	<p>
	The Indian pharmaceuticals industry is globally respected and is one of the most successful industries in the country. It has contributed significantly to global healthcare by ensuring quality, accessible and affordable medicines around the globe. It has also immensely contributed to India’s economic growth. World Class capabilities and favourable global pharmaceutical market condition over many years have ensured that India continues to be one of the most lucrative pharma market in the world.</p>

	<p>Additionally, the emergence of new viruses and drug resistant infections, biological agents, immune therapies etc. spurred research and development activities in the recent past providing the industry with more products in their drug pipeline with revenue and growth streams.</p>
	<p>Established in 1963, RIGHT Labs is one of India's better managed mid-sized pharma companies. It has presence in (1) domestic branded formulations, (2) global branded and generic formulations, and (3) global APIs (active pharmaceutical ingredients). RIGHT's core business strategy is to leverage its strength in manufacturing API to develop vertically integrated and highly competitive formulations. Most of the company's formulations are backed by its own APIs.</p>
	<p>The products of the Company are now exported to over 100 countries across the globe. During the financial year under report, the international business witnessed, a growth of 11%.</p>
	<p>The Company achieved European export sales of ` 532.82 crores during the financial year under report as against sales of ` 496.12 crores in the previous year. Regulatory imposition against one of the Company’s major customer, though resolved in the second half of the financial year, adversely impacted Company’s generics formulations business in the United Kingdom. The Company has developed and submitted 62 generic formulation dossiers for registration in Europe out of which 61 dossiers are registered. The Company has also obtained certificate of suitability (COS) of 44 APIs from European Directorate for Quality Medicines.</p>
	<p>The Company achieved export sales growth of 7% to Africa in the previous year. The Company exports branded and generic formulations as well as APIs to many African countries. The Company markets branded formulations in Africa through dedicated field force. The Company also supplies generics formulations to South Africa. Exports to most other regions also recorded increase.</p>
	<p>The Company is awaiting re-inspection by US FDA of its manufacturing facilities currently under import alert.</p>
	<p>Except US FDA import alert on three of its manufacturing sites, none of the Company’s manufacturing sites have any outstanding regulatory or compliance issues with any other regulatory agency.</p>
	<h4 class="align"><strong>Market cap </strong>- 150.59B</h4>
	<h4 class="align"><strong>P/E ratio </strong>- 25.92</h4>
	<h4 class="align"><strong>52-wk high </strong>- 1,223.10</h4>
	<h4 class="align"><strong>52-wk low </strong>- 717.00</h4>
	<h4 class="align"><strong>Industry PE </strong>- 30.31</h4>
	<h1 class="display-4 align">Financials (In crores)</h1>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">MAR 18</th>
	      <th scope="col">MAR 17</th>
	      <th scope="col">MAR 16</th>
	      <th scope="col">MAR 15</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">OPERATIONAL REVENUES</th>
	      <td>3,193.40</td>
	      <td>3,102.21</td>
	      <td>2,803.66</td>
	      <td>3,085.14</td>
	    </tr>
	    <tr>
	      <th scope="row">Other Income</th>
	      <td>39.54</td>
	      <td>20.65</td>
	      <td>27.67</td>
	      <td>35.77</td>
	    </tr>
	    <tr>
	      <th scope="row">TOTAL REVENUE</th>
	      <td>3,232.94</td>
	      <td>3,122.86</td>
	      <td>2,831.33</td>
	      <td>3,120.91</td>
	    </tr>
	    <tr>
	      <th scope="row">TOTAL EXPENSES</th>
	      <td>2,950.14</td>
	      <td>2,864.66</td>
	      <td>2,719.88</td>
	      <td>2,767.43</td>
	    </tr>
	    <tr>
	      <th scope="row">PROFIT/LOSS BEFORE TAX</th>
	      <td>282.80</td>
	      <td>258.20</td>
	      <td>111.45</td>
	      <td>357.73</td>
	    </tr>
	  </tbody>
	</table> 
</div>
{% endblock content %}
