{% extends "login/base.html" %}
{% block content %}


<nav id="header-nav" class="navbar navbar-default">
  <div class="container">
    <h3 class="align">This is Round 9.</h3>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Your purchased stocks
          <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Enigma Limited - {{ user.profile.Enigma }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tec Solutions - {{ user.profile.Tec }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">GAAP Cinemas - {{ user.profile.GAAP }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ALPHA Leisure Limited - {{ user.profile.ALPHA }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">LAXMI Bank Ltd. - {{ user.profile.LAXMI }}</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CREDIT INDIA  - {{ user.profile.Punjab }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lifepoint Hospitals  - {{ user.profile.Lifepoint }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">RIGHT Laboratories - {{ user.profile.RIGHT }}</a></li>
        </ul>
      </div>
    <h3>Money left: {{ user.profile.money }}</h3>
  </div>  
</nav>  

<!-- Timer-->
<div class="navbar-fixed-top bg-danger shadow p-2 text-center mb-5 text-white ">
  <div class="container-fluid">
    <p class="mb-0 font-weight-bold text-uppercase">Time Left</p>
    <div id="space" class="countdown pt-4"></div>
  </div>
</div>
 <!-- end -->

<div class="container">
  <h1 class="display-3">News Headlines</h1>
  <p>Retail inflation spikes to 7.35% in December, highest in six years</p>
  <p>Arrested J&K DSP was building mansion next to Army base | EXCLUSIVE</p>
  <p>Oscars 2020: 92nd Academy Awards full nominations list</p>
</div>

<!-- table -->
<div class="container">
  <table class="table table-dark">
    <tr>
      <th>Company</th>
      <th>Sector</th>
      <th>Category</th>
      <th>Current price</th>
    </tr>
    {% for company in companys %}
    <tr>
      <th><a href="{% url 'details' company.id %}" target="_blank">{{ company.company_name }}</a></th>
      <th>{{ company.sector }}</th>
      {% if company.cat == "Large Cap" %}
        <th><a href="#chartContainer">{{ company.cat }}</a></th>
      {% else %}
        <th><a href="#chartContainer1">{{ company.cat }}</a></th>
      {% endif %}
      <th>{{ company.price8 }}</th>
    </tr>
    {% endfor %}
  </table>
</div>

<!-- chart -->
<div class="container">
  <div id="chartContainer" class="chart padding"></div>
  <div id="chartContainer1" class="chart padding"></div>
</div>

<nav id="header-nav" class="navbar navbar-default">
  <div class="container">
    <form action="{% url 'round9' %}" method="POST">
      {% csrf_token %}
      <select name="company_id">
        {% for company in companys %}
          <option value="{{ company.id }}">{{ company.company_name }}</option>
        {% endfor %}  
      </select>
      
      <select name="what">
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
      <label for="amount">Buy(in Rs) Or Sell(in shares) </label>
      <input type="number" name="amount" id="amount" placeholder="Enter Amount" step="0.01" min="0" required>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>  
</nav>  

<!-- Timer -->


<script>
// Set the date we're counting down to
var countDownDate = new Date("{{ date.month }} {{ date.day }}, {{ date.year }} {{ date.hour }}:{{ date.minute }}:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Output the result in an element with id="demo"
  document.getElementById("space").innerHTML = Math.floor(distance / 1000) + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("space").innerHTML = "EXPIRED";
     window.location = "{% url 'round10' %}";
  }
}, 1000);

// chart

window.onload = function () {
 
  var large = new CanvasJS.Chart("chartContainer", {
  theme: "light2",  
  title:{
    text: "Large Cap"
  },
  axisY:[{
    title: "Stock Prices",
    includeZero: false,
    // suffix: "k"
  }],
  axisX:{
    title: "Rounds",
    includeZero: true,
  },
  toolTip: {
    shared: true
  },
  legend: {
    cursor: "pointer",
    itemclick: toggleDataSerie
  },
  data: [{
    type: "line",
    name: "Tec Solutions",
    color: "#369EAD",
    showInLegend: true,
    axisYIndex: 1,
    dataPoints: [
      { x: 0, y: {{ tec0 }} }, 
      { x: 1, y: {{ tec1 }} },
      { x: 2, y: {{ tec2 }} },
      { x: 3, y: {{ tec3 }} },
      { x: 4, y: {{ tec4 }} },
      { x: 5, y: {{ tec5 }} },
      { x: 6, y: {{ tec6 }} },
      { x: 7, y: {{ tec7 }} },
      { x: 8, y: {{ tec8 }} },
      { x: 9 },
      { x: 10 },
      { x: 11 },
      { x: 12 }
    ]
  },
  {
    type: "line",
    name: "LAXMI Bank Ltd.",
    color: "#C24642",
    axisYIndex: 0,
    showInLegend: true,
    dataPoints: [
      { x: 0, y: {{ lax0 }} }, 
      { x: 1, y: {{ lax1 }} },
      { x: 2, y: {{ lax2 }} },
      { x: 3, y: {{ lax3 }} },
      { x: 4, y: {{ lax4 }} },
      { x: 5, y: {{ lax5 }} },
      { x: 6, y: {{ lax6 }} },
      { x: 7, y: {{ lax7 }} },
      { x: 8, y: {{ lax8 }} },
      { x: 9 },
      { x: 10 },
      { x: 11 },
      { x: 12 }
    ]
  },
  {
    type: "line",
    name: "CREDIT INDIA",
    color: "#7F6084",
    axisYType: "secondary",
    showInLegend: true,
    dataPoints: [
      { x: 0, y: {{ pnb0 }} }, 
      { x: 1, y: {{ pnb1 }} },
      { x: 2, y: {{ pnb2 }} },
      { x: 3, y: {{ pnb3 }} },
      { x: 4, y: {{ pnb4 }} },
      { x: 5, y: {{ pnb5 }} },
      { x: 6, y: {{ pnb6 }} },
      { x: 7, y: {{ pnb7 }} },
      { x: 8, y: {{ pnb8 }} },
      { x: 9 },
      { x: 10 },
      { x: 11 },
      { x: 12 }
    ]
  }]
});
large.render();

function toggleDataSerie(e) {
  if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  e.large.render();
}

//mid
  var mid = new CanvasJS.Chart("chartContainer1", {
  theme: "light2",  
  title:{
    text: "Mid Cap"
  },
  axisY:[{
    title: "Stock Prices",
    includeZero: false,
    // suffix: "k"
  }],
  axisX:{
    title: "Rounds",
    includeZero: true,
  },
  toolTip: {
    shared: true
  },
  legend: {
    cursor: "pointer",
    itemclick: toggleDataSeries
  },
  data: [{
    type: "line",
    name: "Enigma Limited",
    color: "#663399",
    showInLegend: true,
    axisYIndex: 1,
    dataPoints: [
      { x: 0, y: {{ en0 }} }, 
      { x: 1, y: {{ en1 }} },
      { x: 2, y: {{ en2 }} },
      { x: 3, y: {{ en3 }} },
      { x: 4, y: {{ en4 }} },
      { x: 5, y: {{ en5 }} },
      { x: 6, y: {{ en6 }} },
      { x: 7, y: {{ en7 }} },
      { x: 8, y: {{ en8 }} },
      { x: 9 },
      { x: 10 },
      { x: 11 },
      { x: 12 }
    ]
  },
  {
    type: "line",
    name: "GAAP Cinemas",
    color: "#DC143C",
    showInLegend: true,
    axisYIndex: 2,
    dataPoints: [
      { x: 0, y: {{ gaa0 }} }, 
      { x: 1, y: {{ gaa1 }} },
      { x: 2, y: {{ gaa2 }} },
      { x: 3, y: {{ gaa3 }} },
      { x: 4, y: {{ gaa4 }} },
      { x: 5, y: {{ gaa5 }} },
      { x: 6, y: {{ gaa6 }} },
      { x: 7, y: {{ gaa7 }} },
      { x: 8, y: {{ gaa8 }} },
      { x: 9 },
      { x: 10 },
      { x: 11 },
      { x: 12 }
    ]
  },
  {
    type: "line",
    name: "ALPHA Leisure Limited",
    color: "#32CD32",
    showInLegend: true,
    axisYIndex: 3,
    dataPoints: [
      { x: 0, y: {{ alp0 }} }, 
      { x: 1, y: {{ alp1 }} },
      { x: 2, y: {{ alp2 }} },
      { x: 3, y: {{ alp3 }} },
      { x: 4, y: {{ alp4 }} },
      { x: 5, y: {{ alp5 }} },
      { x: 6, y: {{ alp6 }} },
      { x: 7, y: {{ alp7 }} },
      { x: 8, y: {{ alp8 }} },
      { x: 9 },
      { x: 10 },
      { x: 11 },
      { x: 12 }
    ]
  },
  {
    type: "line",
    name: "Lifepoint Hospitals",
    color: "#D2691E",
    axisYIndex: 0,
    showInLegend: true,
    dataPoints: [
      { x: 0, y: {{ lif0 }} }, 
      { x: 1, y: {{ lif1 }} },
      { x: 2, y: {{ lif2 }} },
      { x: 3, y: {{ lif3 }} },
      { x: 4, y: {{ lif4 }} },
      { x: 5, y: {{ lif5 }} },
      { x: 6, y: {{ lif6 }} },
      { x: 7, y: {{ lif7 }} },
      { x: 8, y: {{ lif8 }} },
      { x: 9 },
      { x: 10 },
      { x: 11 },
      { x: 12 }
    ]
  },
  {
    type: "line",
    name: "RIGHT Laboratories",
    color: "#40E0D0",
    // axisYType: "secondary",
    showInLegend: true,
    dataPoints: [
      { x: 0, y: {{ rig0 }} }, 
      { x: 1, y: {{ rig1 }} },
      { x: 2, y: {{ rig2 }} },
      { x: 3, y: {{ rig3 }} },
      { x: 4, y: {{ rig4 }} },
      { x: 5, y: {{ rig5 }} },
      { x: 6, y: {{ rig6 }} },
      { x: 7, y: {{ rig7 }} },
      { x: 8, y: {{ rig8 }} },
      { x: 9 },
      { x: 10 },
      { x: 11 },
      { x: 12 }
    ]
  }]
});
mid.render();

function toggleDataSeries(e) {
  if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  e.mid.render();
}

}
</script>

{% endblock content %}