{% extends "login/base.html" %}
{% block content %}

<nav id="header-nav" class="navbar navbar-default">
  <div class="container">
    <h3 class="align">This is Round 0.</h3>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Your purchased stocks
          <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Enigma Limited - {{ user.profile.Enigma }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tec Solutions - {{ user.profile.Tec }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">GAAP Cinemas - {{ user.profile.GAAP }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ALPHA Leisure Limited - {{ user.profile.ALPHA }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">LAXMI Bank Ltd. - {{ user.profile.LAXMI }}</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CREDIT INDIA  - {{ user.profile.Punjab }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lifepoint Hospitals  - {{ user.profile.Lifepoint }}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">RIGHT Laboratories - {{ user.profile.RIGHT }}</a></li>
        </ul>
      </div>
    <h3>Money left: {{ user.profile.money }}</h3>
  </div>  
</nav>

<!-- Timer -->
 <div class="bg-danger shadow p-2 text-center mb-5 text-white ">
 	<div class="container-fluid">
    <p class="mb-0 font-weight-bold text-uppercase">Time Left</p>
    <div id="space" class="countdown pt-4"></div>
	</div>
 </div>
 <!-- end -->

<p class="align padding">Contest will began shortly. Until then have a look at the history of different companies whose stock you can buy.</p>

<!-- table -->
<div class="container">
  <table class="table table-dark">
    <tr>
      <th>Company</th>
      <th>Sector</th>
      <th>Category</th>
      <th>Current price</th>
    </tr>
    {% for company in companys %}
    <tr>
      <th><a href="{% url 'details' company.id %}" target="_blank">{{ company.company_name }}</a></th>
      <th>{{ company.sector }}</th>
      {% if company.cat == "Large Cap" %}
        <th><a href="#chartContainer">{{ company.cat }}</a></th>
      {% else %}
        <th><a href="#chartContainer1">{{ company.cat }}</a></th>
      {% endif %}
      <th>{{ company.price0 }}</th>
    </tr>
    {% endfor %}
  </table>
</div>

<!-- charts -->
<div class="container">
  <div id="chartContainer" class="chart padding"></div>
  <div id="chartContainer1" class="chart padding"></div>
</div>
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

<!-- buy/sell -->

<nav id="header-nav" class="navbar navbar-default">
  <div class="container">
    <form action="{% url 'site' %}" method="POST">
      {% csrf_token %}
      <select name="company_id">
        {% for company in companys %}
          <option value="{{ company.id }}">{{ company.company_name }}</option>
        {% endfor %}  
      </select>
      
      <select name="what">
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
      <label for="amount">Buy(in Rs) Or Sell(in shares) </label>
      <input type="number" name="amount" id="amount" placeholder="Enter Amount" step="0.01" min="0" required>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>  
</nav>


<!-- Timer -->


<script>
// Set the date we're counting down to
var countDownDate = new Date("{{ date.month }} {{ date.day }}, {{ date.year }} {{ date.hour }}:{{ date.minute }}:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Output the result in an element with id="demo"
  document.getElementById("space").innerHTML = Math.floor(distance / 1000) + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("space").innerHTML = "EXPIRED";
    window.location = "{% url 'round1' %}";
  }
}, 1000);

// chart
window.onload = function () {
 
  var large = new CanvasJS.Chart("chartContainer", {
  theme: "light2",  
  title:{
    text: "Large Cap"
  },
  axisY:[{
    title: "Stock Prices",
    includeZero: false,
    // suffix: "k"
  }],
  axisX:{
    title: "Rounds",
    includeZero: true,
  },
  toolTip: {
    shared: true
  },
  legend: {
    cursor: "pointer",
    itemclick: toggleDataSerie
  },
  data: [{
    type: "line",
    name: "Tec Solutions",
    color: "#369EAD",
    showInLegend: true,
    axisYIndex: 1,
    dataPoints: [
      { x: 0, y: {{ tec0 }} }, 
      { x: 1 },
      { x: 2 },
      { x: 3 },
      { x: 4 },
      { x: 5 },
      { x: 6 },
      { x: 7 },
      { x: 8 },
      { x: 9 },
      { x: 10 }
    ]
  },
  {
    type: "line",
    name: "LAXMI Bank Ltd.",
    color: "#C24642",
    axisYIndex: 0,
    showInLegend: true,
    dataPoints: [
      { x: 0, y: {{ lax0 }} }, 
      { x: 1 },
      { x: 2 },
      { x: 3 },
      { x: 4 },
      { x: 5 },
      { x: 6 },
      { x: 7 },
      { x: 8 },
      { x: 9 },
      { x: 10 }
    ]
  },
  {
    type: "line",
    name: "CREDIT INDIA",
    color: "#7F6084",
    axisYType: "secondary",
    showInLegend: true,
    dataPoints: [
      { x: 0, y: {{ pnb0 }} }, 
      { x: 1 },
      { x: 2 },
      { x: 3 },
      { x: 4 },
      { x: 5 },
      { x: 6 },
      { x: 7 },
      { x: 8 },
      { x: 9 },
      { x: 10 }
    ]
  }]
});
large.render();

function toggleDataSerie(e) {
  if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  e.large.render();
}

//mid
  var mid = new CanvasJS.Chart("chartContainer1", {
  theme: "light2",  
  title:{
    text: "Mid Cap"
  },
  axisY:[{
    title: "Stock Prices",
    includeZero: false,
    // suffix: "k"
  }],
  axisX:{
    title: "Rounds",
    includeZero: true,
  },
  toolTip: {
    shared: true
  },
  legend: {
    cursor: "pointer",
    itemclick: toggleDataSeries
  },
  data: [{
    type: "line",
    name: "Enigma Limited",
    color: "#663399",
    showInLegend: true,
    axisYIndex: 1,
    dataPoints: [
      { x: 0, y: {{ en0 }} }, 
      { x: 1 },
      { x: 2 },
      { x: 3 },
      { x: 4 },
      { x: 5 },
      { x: 6 },
      { x: 7 },
      { x: 8 },
      { x: 9 },
      { x: 10 }
    ]
  },
  {
    type: "line",
    name: "GAAP Cinemas",
    color: "#DC143C",
    showInLegend: true,
    axisYIndex: 2,
    dataPoints: [
      { x: 0, y: {{ gaa0 }} }, 
      { x: 1 },
      { x: 2 },
      { x: 3 },
      { x: 4 },
      { x: 5 },
      { x: 6 },
      { x: 7 },
      { x: 8 },
      { x: 9 },
      { x: 10 }
    ]
  },
  {
    type: "line",
    name: "ALPHA Leisure Limited",
    color: "#32CD32",
    showInLegend: true,
    axisYIndex: 3,
    dataPoints: [
      { x: 0, y: {{ alp0 }} }, 
      { x: 1 },
      { x: 2 },
      { x: 3 },
      { x: 4 },
      { x: 5 },
      { x: 6 },
      { x: 7 },
      { x: 8 },
      { x: 9 },
      { x: 10 }
    ]
  },
  {
    type: "line",
    name: "Lifepoint Hospitals",
    color: "#D2691E",
    axisYIndex: 0,
    showInLegend: true,
    dataPoints: [
      { x: 0, y: {{ lif0 }} }, 
      { x: 1 },
      { x: 2 },
      { x: 3 },
      { x: 4 },
      { x: 5 },
      { x: 6 },
      { x: 7 },
      { x: 8 },
      { x: 9 },
      { x: 10 }
    ]
  },
  {
    type: "line",
    name: "RIGHT Laboratories",
    color: "#40E0D0",
    // axisYType: "secondary",
    showInLegend: true,
    dataPoints: [
      { x: 0, y: {{ rig0 }} }, 
      { x: 1 },
      { x: 2 },
      { x: 3 },
      { x: 4 },
      { x: 5 },
      { x: 6 },
      { x: 7 },
      { x: 8 },
      { x: 9 },
      { x: 10 }
    ]
  }]
});
mid.render();

function toggleDataSeries(e) {
  if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  e.mid.render();
}

}
</script>
{% endblock content %}