{% extends "login/base.html" %}
{% block content %}
	<h1 class="display-3 align">Tec Solutions</h1>
	<h4 class="align"><strong>Sector</strong>- Technology</h4>	
	<h4 class="align"><strong>Category </strong>- Large Cap</h4>	
	<p>Tec Solutions Limited is an Indian multinational corporation that provides business consulting, information technology and outsourcing services. It has its headquarters in Bangalore, Karnataka, India. </p>
	<p>Tec Solutions is the third-largest Indian IT company  by revenue and 694th largest public company in the world based on revenue.[4] On March 29, 2018, its market capitalisation was $36.52 billion. The credit rating of the company is A− (rating by Standard & Poor's).</p>
	<p>Tec Solutions provides software development, maintenance and independent validation services to companies in finance, insurance, manufacturing and other domains. </p>
	<p>One of its known products is Finacle which is a universal banking solution with various modules for retail & corporate banking. </p>
	<p>Its key products and services are:</p>
	<ul>
		<li>NIA – Next Generation Integrated AI Platform (formerly known as Mana)</li>
		<li>Tec Solutions Consulting – a global management consulting service</li>
		<li>Tec Solutions Information Platform (IIP) – Analytics platform</li>
		<li>EdgeVerve Systems which includes Finacle, a global banking platform</li>
		<li>Panaya Cloud Suite</li>
		<li>Skava</li>
	</ul>
	<p>Tec Solutions has 62 sales and marketing offices and 103 development centres across the world as of March 31, 2018, with major presence in India, United States, China, Australia, Japan, Middle East and Europe.</p>
	<p>In 2018, 60%, 24% and 3% of its revenues were derived from projects in North America, Europe and India, respectively. Remaining 13% of revenues were derived from rest of the world.</p>
	<p>Tec Solutions had a total of 186,454 employees at the end of December 2018, out of which 37.8% were women. Out of its total workforce, 172,658 are software professionals and remaining 13,796 work for support and sales. In 2016, 89% of its employees were based in India.</p>
	<p>In 2018, Tec Solutions was ranked as the 7rd Best Regarded Company in the World by Forbes.</p>
	<h4 class="align"><strong>Market cap </strong>- 2.79T</h4>
	<h4 class="align"><strong>P/E ratio </strong>- 21.60</h4>
	<h4 class="align"><strong>52-wk high </strong>- 847.00</h4>
	<h4 class="align"><strong>52-wk low </strong>- 615.00</h4>
	<h4 class="align"><strong>Industry PE </strong>- 23.05</h4>
	<h1 class="display-4 align">Financials (In crores)</h1>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">MAR 18</th>
	      <th scope="col">MAR 17</th>
	      <th scope="col">MAR 16</th>
	      <th scope="col">MAR 15</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">OPERATIONAL REVENUES</th>
	      <td>61,941.00</td>
	      <td>59,289.00</td>
	      <td>53,983.00</td>
	      <td>47,300.00</td>
	    </tr>
	    <tr>
	      <th scope="row">Other Income</th>
	      <td>4,019.00</td>
	      <td>3,062.00</td>
	      <td>3,006.00</td>
	      <td>3,337.00</td>
	    </tr>
	    <tr>
	      <th scope="row">TOTAL REVENUE</th>
	      <td>65,960.00</td>
	      <td>62,351.00</td>
	      <td>56,989.00</td>
	      <td>50,637.00</td>
	    </tr>
	    <tr>
	      <th scope="row">TOTAL EXPENSES</th>
	      <td>46,052.00</td>
	      <td>43,413.00</td>
	      <td>39,389.00</td>
	      <td>34,251.00</td>
	    </tr>
	    <tr>
	      <th scope="row">PROFIT/LOSS BEFORE TAX</th>
	      <td>19,908.00</td>
	      <td>18,938.00</td>
	      <td>17,600.00</td>
	      <td>16,798.00</td>
	    </tr>
	  </tbody>
	</table>


{% endblock content %}